@{
    ViewData["Title"] = "Task List";
}


@model List<TaskResponse>


<head>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .quadrant {
            background-color: #d2b48c;
            color: #000;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th></th>
            <th>Urgent</th>
            <th>Not Urgent</th>
        </tr>
        <tr>
            <th>Important</th>
            <td class="quadrant">
                @foreach (var x in Model)
                {
                    @if (@x.Quadrant == 1 && @x.Completed == false)
                    {

                        <a>@x.Task | Due: @x.DueDate &emsp;</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a><br /><br />

                     }
                }
            </td>

            <td class="quadrant">
                @foreach (var x in Model)
                {
                    @if (@x.Quadrant == 2 && @x.Completed == false)
                    {

                        <a>@x.Task | Due: @x.DueDate &emsp;</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a><br /><br />

                    }
                }
            </td>

            </tr>
        <tr>
            <th>Not Important</th>
            <td class="quadrant">
                @foreach (var x in Model)
                {
                    @if (@x.Quadrant == 3 && @x.Completed == false)
                    {

                        <a>@x.Task | Due: @x.DueDate &emsp;</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a><br /><br />

                    }
                }
            </td>

            <td class="quadrant">
                @foreach (var x in Model)
                {
                    @if (@x.Quadrant == 4 && @x.Completed == false)
                    {

                        <a>@x.Task | Due: @x.DueDate &emsp;</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a><br /><br />

                    }
                }
            </td>
        </tr>
    </table>
</body>
